<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class="<%= resource.data.layout %> <%= resource.data.page_class %>">
    <nav class="back-navigation truncate margin-top-2 text-muted">
      <a href="/">
        Home
        </a>
      <% if resource.data.title != "The Blog" %>
        / <a href="/posts">The Blog</a>
        / <span class="text-black truncate">
          <%= resource.data.title %>
        </span>
      <% else %>
        / <span class="truncate">
          <%= resource.data.title %>
        </span>
      <% end %>
    </nav>

    <main class="margin-top-4">
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
